body{
    margin: 0;
}
img{
    width: 100%;
    height: 9rem;
}
h1{
    text-align: center;
}
.content{
    max-width: 1150px;
    margin: 0 auto;
}
.content p{
    font-size: x-large;
}

@media (max-width: 900px) {
    .content p{
        text-align: center;
    }
}
.dark{
    background-color: black;
    color: white;
}